@font-face {
    font-family: Manrope;
    src: url('fonts/Tinos/Tinos-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal weight */
    font-style: normal;
}

@font-face {
    font-family: Tinos;
    src: url('fonts/Tinos/Tinos-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

@font-face {
    font-family: Tinos;
    src: url('fonts/Tinos/Tinos-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

html {
    font-family: Tinos, serif;
}