@import url('./fonts.css');
/* stylelint-disable-next-line */
@import "tailwindcss";

@tailwind utilities;


:root {
    --bg-color:#000;
    --base-color: #ECDFBD;
    --brand-color: #B29553;
    --secondary-color: #ECDFBD;
}

html {
    background-color: var(--bg-color);
    color: var(--base-color);
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

::selection {
    color: var(--base-color);
    background: var(--brand-color);
}

.hero {
    background-image: linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url("/images/hero.png");
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    background-image: linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url("/images/bottom.png");
    width: 100%;
    background-position: center;
    background-size: cover;
}

.branded-text {
    background-image: linear-gradient(to bottom right, var(--brand-color) 30%, var(--secondary-color) 60%, var(--base-color));
    background-clip: text;
    color: transparent;
}

.lights {
    position: absolute;
    width: 130px;
    height: 25px;
    border-radius: 1rem;
    background: linear-gradient(
            35deg,
            var(--brand-color),
            var(--secondary-color)
    );
    filter: blur(4rem);
    opacity: 0.8;
}
