---
import Layout from "../layouts/Layout.astro";
import PriceList from "../components/PriceList.astro";
import ContactDetails from "../components/ContactDetails.astro";
---

<Layout title="home">
  <section class="hero text-center mb-12">
    <h1 class="text-3xl sm:text-5xl font-semibold">
      Welcome to
      <span class="branded-text"> 3rd floor </span>
    </h1>
    <p class="max-w-2xl text-lg">Your favorite barber shop</p>
    <div class="flex gap-6 mt-3">
      <button class="button">Κλείσε Ραντεβού</button>
      <button class="button">Επικοινωνία</button>
    </div>
  </section>

  <section class="relative py-12 px-[8%]">
    <PriceList />
  </section>

  <section class="relative py-12">
    <ContactDetails />
  </section>
</Layout>

<style>
  .button {
    width: 140px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid;
    text-transform: uppercase;
    z-index: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button::before,
  .button::after {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(10deg, saddlebrown, sandybrown);
    transition: 1s ease;
  }

  .button::before {
    top: -1em;
    left: -1em;
  }

  .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }

  .button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }
</style>
