---
const contactDetails = {
  phone: "+123 456 7890",
  address: "123 Barber St, Haircut City, HC 12345",
  workingHours: [
    { day: "Δευτέρα", hours: "Closed" },
    { day: "Τρίτη - Παρασκεύη", hours: "9:00 AM - 7:00 PM" },
    { day: "Σάββατο", hours: "10:00 AM - 5:00 PM" },
    { day: "Κυριακή", hours: "Closed" },
  ],
};
---

<h2 class="text-4xl font-semibold text-center mb-12 branded-text">
  Get in touch
</h2>
<div class="flex flex-col lg:flex-row gap-8 items-center justify-between">
  <div>
    <div class="text-lg">
      <strong>Phone:</strong>
      {contactDetails.phone}
    </div>
    <div class="text-lg">
      <strong>Address:</strong>
      {contactDetails.address}
    </div>
    <div class="text-lg">
      <strong>Working Hours:</strong>
      <ul>
        {
          contactDetails.workingHours.map(({ day, hours }) => (
            <li>
              {day}: {hours}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d512.0794991085087!2d23.75524388835559!3d38.01250782816203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1a35277f9d5cd%3A0xedc6e38b0a2485f!2sMiss%20Monkey!5e0!3m2!1sen!2sgr!4v1743880949324!5m2!1sen!2sgr"
      width="600px"
      height="423px"
      style="border:0;border-radius:1rem;filter:invert(90%) hue-rotate(180deg)"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
