---
import Social from "./Social.astro";

const year = new Date().getFullYear();
---

<footer class="relative w-full text-white px-[8%] pt-12 pb-2">
  <article class="flex items-center justify-center">
    <div class="flex gap-3">
      <Social />
    </div>
  </article>
</footer>
<article class="flex pt-16 items-center justify-center">
  <div class="text-sm branded-text">
    <span>thirdfloor</span>
    <span>&copy;</span>
    <span>{year}</span>
  </div>
</article>
<span class="lights top-1/2 right-1/8"></span>
