---
import Social from "./Social.astro";
import { Image } from "astro:assets";
import logoAlt from "../assets/logo-alt.png";
---

<header
  class="fixed top-0 header w-full px-4 py-8 h-15 z-30 flex justify-between transition-colors duration-300 ease-in-out"
>
  <a href="/" class="flex items-center font-bold branded-text text-l z-10">
    <Image src={logoAlt} alt="third floor" class="w-[25vw] sm:w-[8vw]" /></a
  >
  <div class="h-full flex items-center gap-2 z-10">
    <Social />
  </div>
  <span class="lights top-[5px] right-0"></span>
  <span class="lights top-[7px] left-[20px]"></span>
  <span class="lights top-[5px] left-1/2"></span>
</header>

<script>
  const header = document.querySelector("header");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 50) {
      header.classList.add("bg-[var(--bg-color)]", "opacity-90");
    } else {
      header.classList.remove("bg-[var(--bg-color)]", "opacity-90");
    }
  });
</script>
