---
import Social from "./Social.astro";
---

<header
  class="fixed top-0 header w-full px-4 h-20 md:h-14 z-30 flex justify-between bg-[var(--bg-color)] opacity-95"
>
  <a href="/" class="flex items-center font-bold branded-text text-xl z-10"
    >thirdfloor</a
  >
  <div class="h-full flex items-center gap-2 z-10">
    <Social />
  </div>
  <span class="lights top-[5px] right-0"></span>
  <span class="lights top-[7px] left-[20px]"></span>
  <span class="lights top-[5px] left-1/2"></span>
</header>
