<a
  href="https://www.ebarber.gr/barbershops/tsansshop/appointments/step1"
  target="_blank"
>
  <img class="w-6" src="/images/social/calendar.svg" alt="" />
</a>
<a target="_blank" href="https://www.instagram.com/th3rd.floor"
  ><img
    class="w-6"
    src="/images/social/instagram.svg"
    alt="third floor instagram"
  /></a
>
<a target="_blank" href="https://facebook.com/profile.php?id=61581331196666"
  ><img
    class="w-6"
    src="/images/social/facebook.svg"
    alt="third floor facebook"
  /></a
>
