<a href="/"><img class="w-5" src="/images/calendar.png" alt="" /></a>
<a target="_blank" href="#"
  ><img class="w-6" src="/images/instagram.svg" alt="" /></a
>
<a target="_blank" href="#"
  ><img class="w-6" src="/images/youtube.svg" alt="" /></a
>
