<a href="/"><img class="w-6" src="/images/social/calendar.svg" alt="" /></a>
<a target="_blank" href="#"
  ><img class="w-6" src="/images/social/instagram.svg" alt="" /></a
>
<a target="_blank" href="#"
  ><img class="w-6" src="/images/social/facebook.svg" alt="" /></a
>
