---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="el">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Third floor barber shop athens, book your appointment now"
    />
    <meta
      name="keywords"
      content="third floor,3rd floor,glac,galatsi,barber,athens,cuts,haircuts,third floor barber"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <title>THIRD FLOOR</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
